<!doctype html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link rel="SHORTCUT ICON" href="img/favicon.ico">
<link href="../public/css/font.css" type="text/css" rel="stylesheet" />
<link href="../public/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="../public/css/all.css" type="text/css" rel="stylesheet" />
<link href="../public/css/reset.css" type="text/css" rel="stylesheet" />
<link href="../public/css/journal.css" type="text/css" rel="stylesheet" />
<link href="../public/css/post.css" type="text/css" rel="stylesheet" />
<title>과학기술과 사회 네트워크 온라인논문투고시스템</title>
</head>
    
<body>
<div class="wrap">
	<div class="header" style="background:#fff;">
	<div class="top" style="position:relative;">
		<img src="../public/img/logo.png" alt="로고" title="로고" >
	</div>
</div>
    
	<!--container-->
	<div class="container">
		<div class="content_wrap">
			<div class="side_wrap">
				
				<div class="sub_menu">
					<ul>
						<li class="sub_menu_gnb "><a href="NULL">논문투고 및 심사</a></li>
						<li class="sub_menu_gnb "><a href="NULL">논문투고규정</a></li>
						<li class="sub_menu_gnb "><a href="NULL">연구윤리규정</a></li>
					</ul>
				</div>
			</div>
			<div class="content">
		      <div class="journal sect">
              </div>


<div class="sect">
    <h1> 온라인 논문 투고 서비스 </h1>
	   <br>
		  <p>로그인하세요.<p>
		  <p>계정이 없으시면 회원가입하세요.</p>
       <br>
		  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>로그인</a>
		  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>회원가입</a>
</div>
				
<div class="footer">
	<div class="section">
		<div class="info_box">
			<div class="info">
				<ul>
					<li><span class="area">T E L</span> :<p> 02-555-0701       FAX  : 02-555-0702      E-MAIL :  ksts.network@gmail.com</p> </li>
					<li><span class="area">주 소</span> :<p> (06097) 서울특별시 강남구 선릉로 602, 5~14층(삼성동)</li>
				</ul>
			</div>
		</div>
	</div>
</div>
            
        </div>
		</div>
    </div>
</div>

<!--container-->
</body>
</html>

