<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title> 논문 심사</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
						
			<div class="page-header text-center">
		        <h1></span> 논문 심사</h1>
		    </div>
			<br>
		    <div class="row">
				<h2> 조회 </h3>
					<br>
					구현 예정
					<br>
			</div>	
		</div>	
			
	</body>
</html>
