<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link rel="SHORTCUT ICON" href="img/favicon.ico">
<link href="../public/css/font.css" type="text/css" rel="stylesheet" />
<link href="../public/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="../public/css/all.css" type="text/css" rel="stylesheet" />
<link href="../public/css/reset.css" type="text/css" rel="stylesheet" />
<link href="../public/css/journal.css" type="text/css" rel="stylesheet" />
<link href="../public/css/post.css" type="text/css" rel="stylesheet" />
<title>과학기술과 사회 네트워크 온라인논문투고시스템</title>
</head>
    
	<body>

<div class="wrap">
	<div class="header" style="background:#fff;">
	<div class="top" style="position:relative;">
		<a href='/'>
		 <img src="../public/img/logo.png" alt="로고" title="로고">
		</a>
	</div>
</div>
		
	<div class="container">
		<div class="content_wrap">
			<div class="side_wrap">
				
				<div class="sub_menu">
					<ul>
						<li class="sub_menu_gnb "><a href="/">논문투고 및 심사</a></li>
						<li class="sub_menu_gnb "><a href="/rule_for_submission">논문투고규정</a></li>
						<li class="sub_menu_gnb "><a href="/rule_for_ethics">연구윤리규정</a></li>
					</ul>
				</div>
			</div>
			<div class="content">
		      <div class="journal sect">
                  <h2 class="journal_title">논문투고규정</h2>
				  <hr class="line">
              </div>
						
			<div class="col-sm-6 col-sm-offset-3">
		    준비중입니다.	
			
			
			
			</div>
			
		</div>	
			
	</body>
</html>
