<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link rel="SHORTCUT ICON" href="img/favicon.ico">
<link href="../public/css/font.css" type="text/css" rel="stylesheet" />
<link href="../public/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="../public/css/all.css" type="text/css" rel="stylesheet" />
<link href="../public/css/reset.css" type="text/css" rel="stylesheet" />
<link href="../public/css/journal.css" type="text/css" rel="stylesheet" />
<link href="../public/css/post.css" type="text/css" rel="stylesheet" />
<title>과학기술과 사회 네트워크 온라인논문투고시스템</title>
    
</head>

<body>

    <div class="wrap">
	<div class="header" style="background:#fff;">
	<div class="top" style="position:relative;">
		<a href='/'>
		  <img src="../public/img/logo.png" alt="로고" title="로고">
		</a>
	</div>
    </div>
    
	<!--container-->
	<div class="container">
		<div class="content_wrap">
			<div class="side_wrap">
				
				<div class="sub_menu">
					<ul>
						<li class="sub_menu_gnb "><a href="/profile">논문투고현황</a></li>
						<li class="sub_menu_gnb "><a href="/eval">논문심사</a></li>
                        <li class="sub_menu_gnb "><a href="/edit">논문편집</a></li>
                        <li class="sub_menu_gnb "><a href="/manual">투고매뉴얼</a></li>
                        <li class="sub_menu_gnb "><a href="/logout">로그아웃</a></li>
                        
                        
					</ul>
				</div>
			</div>
            
			<div class="content">
				<div class="main_board">
		    </div>

			<div class="journal sect">
				<h2 class="journal_title">저작권 이양 동의/ 원본파일 제출</h2>
				<hr class="line">
			</div>
                

<div class="sect">

	<div class="board">
		<div class="table journal_ch">
		 <p>

		 저작권 이양 안내 <br>

		  1. 저자(들)는 본 논문이 창의적이며 다른 논문의 저작권을 침해하지 않았음을 확인합니다. <br>

		  2. 저자(들)는 본 논문에 실제적이고 지적인 공헌을 하였으며 논문의 내용에 대하여 책임을 함께 합니다. <br>

		  3. 저자(들)는 본 논문이 과거에 출판된 적이 없으며, 현재 다른 학술지에 게재를 목적으로 제출되었거나 제출할 계획이 없음을 확인합니다. <br>

		  4. 본 학술지의 발행인은 저자(들)나 본 학술지의 허락 없이 타인에 의해 이루어지는 저작권 침해에 대해서 이의를 제기할 권리가 있습니다.  <br>

		  5. 저자(들)는 본 논문이 한국과학기술학회의 학술지 '과학기술학연구'에 게재될 경우 본 논문에 따른 권리, 이익, 저작권 및 디지털 저작권에 
		  대한 모든 권한행사 등을 한국과학기술학회에 이양합니다. 단 저자(들)가 다른 연구물에 본 논문 내용의 일부를 사용할 경우 그 내용의 출처로 본 논문을 인용하도록 하겠습니다. <br>

		 </p>

		 <label for="assighn" > 저자(들)는 본 논문이 '과학기술과 사회 네트워크'에 게재되기를 희망하여 위 내용에 대해 동의합니다. </label>
		 <input type="checkbox" id = "assign" name = "assign" >
		    

		 <p>
          <form method = "post" enctype = "multipart/form-data" action = "/upload/doc"> 
	       <table>
		      <tr>
			     <td><label>논문 원본 파일 </label></td>
			     <td><input type = "file" name="doc"></td>
		      <tr>
	       </table>
		 </p>

		   <span style="margin-left: 5px;"><a class="down_btn" style = "position: inherit;"><input type="submit" value="제출하기"></a></span>
	     </form>
    
	</div>
</div>
			
<div class="footer">
	<div class="section">
		<div class="info_box">
			<div class="info">
				<ul>
					<li><span class="area">T E L</span> :<p> 02-555-0701       FAX  : 02-555-0702      E-MAIL :  ksts.network@gmail.com</p> </li>
					<li><span class="area">주 소</span> :<p> (06097) 서울특별시 강남구 선릉로 602, 5~14층(삼성동)</li>
				</ul>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>

</html>
